<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            <i class="fa fa-database"></i>$clustername

        </h1>
    </div>
</div>


<div class="row">
    #foreach($dc in $dcs )
    <div class="col-md-12">
    ##  <!-- Advanced Tables -->
        <div class="panel panel-title">
            <div class="panel-heading">
                ${dc.name}
            </div>
            <div class="panel-body">

                #foreach($host in $dc.hosts )
                <div class="col-md-4">
                    <!--    Hover Rows  -->
                    #if($host.isUp())
                    <div class="panel panel-primary">
                    #else
                    <div class="panel panel-danger">
                    #end
                    <div class="panel-heading">
                        <i class="fa fa-server"></i> Node $velocityCount
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th><a href="http://$host.getSocketAddress().getAddress():8080/admin/" >$host.getSocketAddress()</a></th>
                                    #if($host.isUp())
                                        <th>UP</th>
                                    #else
                                        <th>DOWN</th>
                                    #end
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Datacenter</td>
                                    <td>$host.getDatacenter()</td>
                                </tr>
                                <tr>
                                    <td>Rack</td>
                                    <td>$host.getRack()</td>
                                </tr>
                                <tr>
                                    <td>ReleaseVersion</td>
                                    <td>$host.getCassandraVersion()</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                    <!-- End  Hover Rows  -->
                </div>
                #end

            </div>
            </div>
        </div>
    #end
</div>

</div>



