<!--
 ~ Copyright (c) 2015 Mind Consulting UG(haftungsbeschränkt)
 -->

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            <i class="fa fa-bitbucket"></i>
            Buckets
            <small>Summary of your Buckets</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                Bucket Listing
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">

                                <form role="form" id="filterrepoform">

                                    <div class="form-group input-group">
                                        <input type="hidden" name="repoid" value="$!repoid">
                                        <input type="text" name="repoprefix" value="$!repoprefix" class="form-control"
                                               id="dateInput">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><i
                                                        class="fa fa-search"></i>
                                                </button>
                                            </span>
                                    </div>

                                </form>
                    </div>
                </div>
                <div class="table-responsive table-scrollable">
                    <table class="table table-striped table-bordered table-hover" >
                        <thead>
                        <tr>
                            <th>Actions</th>
                            <th>ID</th>
                            <th>Created By</th>
                            <th>Creation Date</th>
                            <th>Versioned</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($repo in $repositories)
                                #if($repo.repoId == $repoid)
                                <tr class="table-row-cell success">
                                #else
                                <tr>
                                #end
                                <td>
                                    <a href="searchid?repoid=$repo.repoId" class="btn btn-success btn-sm"><i
                                        class="fa fa-arrow-down "></i>Show Files</a>
                                    <a href="alterrepo?repoid=$repo.repoId" class="btn btn-primary btn-sm"><i
                                        class="fa fa-edit "></i> Edit</a>
                                </td>
                                <td>$repo.repoId</td>
                                <td>$repo.createdby</td>
                                <td>$repo.creationdate</td>
                                <td><input type="checkbox" #if($repo.versioned) checked #end disabled="disabled" /></td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Create a new Bucket
            </div>
            <div class="panel-body">
                <form role="form" id="newrepoform">
                    <div class="form-group">
                        <label>Bucket Name</label>
                        <input class="form-control" type="text" name="newrepoid">
                    </div>
                    <button form="newrepoform" class="btn btn-primary" type="submit" name="newrepo"
                            formaction="./newrepo"
                            formmethod="post">Create
                    </button>

                </form>


            </div>
        </div>

    </div>
</div>



