<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            <i class="fa fa-plug"></i>
            Connectors
            <small>Summary</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">


        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    S3
                </div>

                <div class="panel-body">
                    <div class="alert alert-success">
                        Endpoint:  <a href="../services/s3" target="_blank">S3 Service API Endpoint</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>