<!--
 ~ Copyright (c) 2015 Mind Consulting UG(haftungsbeschränkt)
 -->

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            <i class="fa fa-file"></i>
            Files
            <small>$!repoid</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Search
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <div>
                        <form role="form" action="searchid" method="get">
                            <label for="pathInput">folder <i class="fa fa-folder"></i> deleted <i class="fa fa-trash"></i> </label>
                            <div class="form-group input-group">
                                  <span class="input-group-addon beautiful">
                                        <input id="delimiter" type="checkbox" #if($!delimiter == true)
                                               checked="checked" #end name="delimiter">
                                 </span>
                                <span class="input-group-addon beautiful">
                                        <input id="deleted" type="checkbox" #if($!deleted == true)
                                               checked="checked" #end name="deleted">
                                 </span>
                                <input type="hidden" name="repoid" value="$!repoid">
                                <input type="text" name="searchpath" value="$!searchpath" class="form-control"
                                       id="pathInput">
                                <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                </span>

                            </div>
                        </form>
                        #if($!delimiter == true)
                        <a href="searchid?repoid=$repoid&delimiter=on&searchpath=$!parent" ><i class="fa fa-arrow-up"></i> up</a>
                        #end
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <form role="form" action="searchid" method="get">
                            <label for="dateInput">Date</label>

                            <div class="form-group input-group">
                                <input type="hidden" name="repoid" value="$!repoid">
                                <input type="text" name="time" value="$!time" class="form-control"
                                       id="dateInput">
                                <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><i
                                                        class="fa fa-search"></i>
                                                </button>
                                            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Result
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    #tableObjects($objects)
                </div>

            </div>
        </div>
    </div>

</div>




