# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class
src/main/resources/static/swagger/*

.idea/
*.iml
target/
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


!/dist/ladon_de_2.0.0.jar
